/* Font */
@font-face{
    font-family: "booksb";
    src: url('../fonts/BOOKOSB.TTF'),
    url('../fonts/BOOKOSB.TTF'); /* IE */
}
@font-face{
    font-family: "calibri";
    src: url('../fonts/Calibri.ttf'),
    url('../fonts/Calibri%20Bold.ttf'); /* IE */
}

/*Custom webpage styles*/
.br {
	 border: 10px solid ;
	 border-width: 0 0 10px 0;
	 border-image: url(../images/hr-menu-line.png) 0 0 10 0 repeat;
}
.brs {
    border: 1px solid;
}
body {
	margin-top: 60px;
    background: #c0c0c0;
}
.wraper {
    width: 100%;
    background: url("../images/123.png") no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 200px;
    margin-top: 340px;
}
.red {
    border: 1px solid red;
}
.cbs-top {
	min-height: 600px;
	background-color: #c4c4c4;
	margin: 0;
    background: url("../images/das.jpg");
    position: relative;
    background-attachment: fixed;
    background-size: cover;

}

.cb-top {
    min-height: 400px;
    background-color: #c4c4c4;
    margin: 0;
    position: relative;
    background-size: cover;
}

.bg {
	background-image: url('../images/hr-menu-line.png');
	height: 5px;
}
.bootsy {
	border-width: 0 0 10px 0;
	border-image: url('../images/hr-menu-line.png') 25 30 10 20 repeat stretch;
}
.example-three {
	border-style: double;
	border-width: 5px  5px;
	border-image: url('../images/hr-menu-line.png') 25 30 10 20 stretch;

}
.nav-tabs > li, .nav-pills > li {
	float:none;
	display:inline-block;
	*display:inline; /* ie7 fix */
	zoom:1; /* hasLayout ie7 trigger */
}

.bottomImage { position: absolute; bottom: 0; }


/* Baklava*/
.jumbotron-link::before {
    background-image: url('../images/buttom.png');
    background-repeat: no-repeat;
	bottom: 0;
	content: "";
	display: inline-block;
	left: 0;
	border-radius: 20px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
}

.jumbotron-link {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-family: "Merriweather",serif;
	font-size: 14px;
	font-weight: 700;
	height: 100px;
	justify-content: flex-end;
	padding-bottom: 12px;
	position: relative;
	transition: all 250ms ease 0s;
	width: 100px;
}
.jumbotron-link {
	font-size: 18px;
	font-weight: 700;
	height: 110px;
	padding-bottom: 0;
	width: 110px;
}
.jumbotron-link {
	font-size: 18px;
}
.but-link {
    top: -46px;
    position: relative;
}
.bgimages img {
    position: absolute; top: 0;
}
/*New style */
.fx_top {
    min-height: 500px;
    background: #122b40;
}
.fxc_top {
     min-height: 500px;
     background: #2e6da4;
 }
.sc-c2 {
    background-attachment: fixed;
    background-color: #ebebeb;
    background-image: url("../images/das.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 468px;
}
.content-section-b {
    background-image: url("../images/123_03.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 891px;
    width: 100%;
}
.content-section-2b {
    background-image: url("../images/back2.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 891px;
    width: 100%;
}
.pad_block{
    padding-top: 50px;
}
.content-section-c {
    background-image: url("../images/back3.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 995px;
}
.vbg {
    top: 0;
}
.intro-header {
    min-height: 500px;
    background-image: url("../images/back1.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
}
.txt_header {
    top: -46px;

}
.bottomImage {
	position: absolute;
	bottom: 0;
}

/*Intro text*/
.txt_intro {
    font-size: 9.1vh;
    font-family: "booksb";
}
.txt_blue {
    color: #024e79;
}
.txt_white {
    color:#ffffff;
}
.block-radius  {
    min-height: 400px;
    border-radius: 20px 20px 0px 20px;
    -moz-border-radius: 20px 20px 0px 20px;
    -webkit-border-radius: 20px 20px 0px 20px;
    padding: 0;
    background: rgba(253,253,253,1);
    background: -moz-linear-gradient(left, rgba(253,253,253,1) 0%, rgba(159,159,159,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(253,253,253,1)), color-stop(100%, rgba(159,159,159,1)));
    background: -webkit-linear-gradient(left, rgba(253,253,253,1) 0%, rgba(159,159,159,1) 100%);
    background: -o-linear-gradient(left, rgba(253,253,253,1) 0%, rgba(159,159,159,1) 100%);
    background: -ms-linear-gradient(left, rgba(253,253,253,1) 0%, rgba(159,159,159,1) 100%);
    background: linear-gradient(to right, rgba(253,253,253,1) 0%, rgba(159,159,159,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#9f9f9f', GradientType=1 );
}
.container-section-point {
    background: #1a1a1a;
    font-family: "booksb";
}
.bg_img_section {
    background: #444444;
    background-image: url("../images/123_06_02.png");
    min-height: 803px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.transbg {
    background: #444444;
    background-image: url("../images/123_06_012_04.png");
    min-height: 802px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}
.cbn_bg {
    background-image: url("../images/123_06_012_05.png");
    background-color: rgba(11, 8, 9, 0.7);
    background: rgba(11, 8, 9, 0.7);
    color: rgba(11, 8, 9, 0.7);
}
.hd_txt_o {
    color: #ffffff;
    font-size: 26px;
}
.top_hed {
    min-height: 100px;
    border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    width: 100%;
}
.txt_header {
     font-size: 6.1vh;
     color: #9fd5f2;
    font-family: "booksb";
}
.txt_header_w {
    font-size: 6.1vh;
    color: #ffffff;
    font-family: "booksb";
}
.p_style {
    color: #ffffff;
    font-family: calibri;
    font-size: 2.9vh;
}
.txt_cs_white {
    color: #ffffff;
}
.bg-img {
    display: inline-block;
}
.bg-txt {
    display: inline-block;
}
.devide {
    padding: 10px;
}
.top_bg_blue {
     background: rgba(38,50,108,1);
     background: -moz-linear-gradient(left, rgba(38,50,108,1) 0%, rgba(45,88,155,1) 100%);
     background: -webkit-gradient(left top, right top, color-stop(0%, rgba(38,50,108,1)), color-stop(100%, rgba(45,88,155,1)));
     background: -webkit-linear-gradient(left, rgba(38,50,108,1) 0%, rgba(45,88,155,1) 100%);
     background: -o-linear-gradient(left, rgba(38,50,108,1) 0%, rgba(45,88,155,1) 100%);
     background: -ms-linear-gradient(left, rgba(38,50,108,1) 0%, rgba(45,88,155,1) 100%);
     background: linear-gradient(to right, rgba(38,50,108,1) 0%, rgba(45,88,155,1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26326c', endColorstr='#2d589b', GradientType=1 );
    color: #ffffff;
 }
.top_bg_green {
    background: rgba(25,76,22,1);
    background: -moz-linear-gradient(left, rgba(25,76,22,1) 0%, rgba(56,126,37,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(25,76,22,1)), color-stop(100%, rgba(56,126,37,1)));
    background: -webkit-linear-gradient(left, rgba(25,76,22,1) 0%, rgba(56,126,37,1) 100%);
    background: -o-linear-gradient(left, rgba(25,76,22,1) 0%, rgba(56,126,37,1) 100%);
    background: -ms-linear-gradient(left, rgba(25,76,22,1) 0%, rgba(56,126,37,1) 100%);
    background: linear-gradient(to right, rgba(25,76,22,1) 0%, rgba(56,126,37,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#194c16', endColorstr='#387e25', GradientType=1 );
    color: #ffffff;
}

.top_bg_red{
    background: rgba(113,56,39,1);
    background: -moz-linear-gradient(left, rgba(113,56,39,1) 0%, rgba(155,48,45,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(113,56,39,1)), color-stop(100%, rgba(155,48,45,1)));
    background: -webkit-linear-gradient(left, rgba(113,56,39,1) 0%, rgba(155,48,45,1) 100%);
    background: -o-linear-gradient(left, rgba(113,56,39,1) 0%, rgba(155,48,45,1) 100%);
    background: -ms-linear-gradient(left, rgba(113,56,39,1) 0%, rgba(155,48,45,1) 100%);
    background: linear-gradient(to right, rgba(113,56,39,1) 0%, rgba(155,48,45,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#713827', endColorstr='#9b302d', GradientType=1 );
    color: #ffffff;
}
.top_bg_cn {
    background: rgba(109,99,76,1);
    background: -moz-linear-gradient(left, rgba(109,99,76,1) 0%, rgba(155,138,102,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(109,99,76,1)), color-stop(100%, rgba(155,138,102,1)));
    background: -webkit-linear-gradient(left, rgba(109,99,76,1) 0%, rgba(155,138,102,1) 100%);
    background: -o-linear-gradient(left, rgba(109,99,76,1) 0%, rgba(155,138,102,1) 100%);
    background: -ms-linear-gradient(left, rgba(109,99,76,1) 0%, rgba(155,138,102,1) 100%);
    background: linear-gradient(to right, rgba(109,99,76,1) 0%, rgba(155,138,102,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d634c', endColorstr='#9b8a66', GradientType=1 );
    color: #ffffff;
}
.cnc_space {
    padding-bottom: 10px;
}
.txt_header_1 {
    background-color: rgba(0, 191, 255, 0.2);
    background: rgba(0, 191, 255, 0.2);
    color: rgba(0, 191, 255, 0.2);
}
.txt_head {
    font-size: 3.5vh;
    font-family: booksb;
    color: #ffffff;
}
.bg_imgr {
    background: url("../images/br_total.png");
    background-position: center center;

}
.see {
   min-height: 500px;
}
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.section-top {
    min-height: 803px;
}
/* main-section*/
.main-section {
    min-height: 820px;
}
.bott_space {
    margin-bottom: 25px;
}
.lead-section {
    min-height: 903px;
}
.section-one {
    min-height: 803px;
}
.section-two {
    min-height: 803px;
}
.section-three {
    min-height: 803px
}
.section-four {
    min-height: 803px
}
.section-five {
    min-height: 803px
}
.section-six {
    min-height: 803px
}
.block-image{
    margin-top: -45px;
}