/* Font */
@font-face{
    font-family: "booksb";
    src: url('../fonts/BOOKOSB.TTF'),
    url('../fonts/BOOKOSB.TTF'); /* IE */
}
@font-face{
    font-family: "calibri";
    src: url('../fonts/Calibri.ttf'),
    url('../fonts/Calibri%20Bold.ttf'); /* IE */
}
.bg-image {
    background: url("../images/navbar.png");
    background-repeat: no-repeat;
    background-position: center top;


}
.wraper {
    width: 100%;
}
.brss {
    border-image: url("../images/htlinetop_03.png");
    border: 6px solid transparent;
    -webkit-border-image: url(../images/newmenu_03.png) 50 stretch; /* Safari 3.1-5 */
    -o-border-image: url(../images/newmenu_03.png) 50 stretch; /* Opera 11-12.1 */
    border-image: url(../images/newmenu_03.png) 50 stretch;

}


.image
{
    background-image : url(image.png);
    /*To create image referenced in CSS, use 'Export Selected CSS' command.*/
    background-repeat : no-repeat;
    position : absolute ;
    left : 63px;
    top : -12px;
    width : 618px;
    height : 413px;
}


}

/*Custom webpage styles*/
.br {
	 border: 10px solid ;
	 border-width: 0 0 10px 0;
	 border-image: url(../images/hr-menu-line.png) 0 0 10 0 repeat;
}

.brs {
    border: 1px solid;
}
body {
	margin-top: 60px;
    background: #444444;
}
.red {
    border: 1px solid red;
}
.inlinespan {
    display: inline-block;


}
.inlinespan-input {
    display: inline-block;
    width: 75%;
}
.cbs-top {
	min-height: 600px;
	background-color: #c4c4c4;
	margin: 0;
    background: url("../images/das.jpg");
    position: relative;
    background-attachment: fixed;
    background-size: cover;

}

.cb-top {
    min-height: 400px;
    background-color: #c4c4c4;
    margin: 0;
    position: relative;
    background-size: cover;
}
.cp_style {
    color: #ffffff;
}
.bg {
	background-image: url('../images/hr-menu-line.png');
	height: 5px;
}
.bootsy {
	border-width: 0 0 10px 0;
	border-image: url('../images/hr-menu-line.png') 25 30 10 20 repeat stretch;
}
.example-three {
    padding-top: 15%;
    position: relative;
}

@media screen and (max-width: 769px) {
    .nav-tabs-style {
        background: url('../images/newlinemenu.png')95% 50%;
        min-height: 37px;
        width: 100%;
        margin: 0px auto;
        border: 6px solid transparent;
        -webkit-border-image: url(../images/htlinetop_03.png) 50 stretch; /* Safari 3.1-5 */
        -o-border-image: url(../images/htlinetop_03.png) 50 stretch; /* Opera 11-12.1 */
        border-image: url(../images/htlinetop_03.png) 50 stretch;
    }
}
@media screen and (min-width: 770px) {

    .nav-tabs-style {
        background: url('../images/newmenu_03.png')5% 5%;
        background-repeat: no-repeat;
        height: 37px;
        width: 100%;
        margin: 0px auto;
    }

}

.brss {
    border-image: url("../images/htlinetop_03.png");
    border: 6px solid transparent;
    -webkit-border-image: url(../images/newmenu_03.png) 50 stretch; /* Safari 3.1-5 */
    -o-border-image: url(../images/newmenu_03.png) 50 stretch; /* Opera 11-12.1 */
    border-image: url(../images/newmenu_03.png) 50 stretch;

}

.nav-tabs-style a{
     color: #9fa1a2;
 }
.color_active{
    color: #ffffff;
}
.nav-tabs > li, .nav-pills > li {
	float:none;
	display:inline-block;
	*display:inline; /* ie7 fix */
}

.bottomImage {
    position: absolute;
    bottom: 0;
}


/* Baklava*/
.jumbotron-link::before {
    background-image: url('../images/buttom.png');
    background-repeat: no-repeat;
	bottom: 0;
	content: "";
	display: inline-block;
	left: 0;
	border-radius: 20px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
}

.jumbotron-link {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-family: "Merriweather",serif;
	font-size: 14px;
	font-weight: 700;
	height: 100px;
	justify-content: flex-end;
	padding-bottom: 12px;
	position: relative;
	transition: all 250ms ease 0s;
	width: 100px;
}
.jumbotron-link {
	font-size: 18px;
	font-weight: 700;
	height: 110px;
	padding-bottom: 0;
	width: 110px;
}
.jumbotron-link {
	font-size: 18px;
}
.but-link {
    top: -46px;
    position: relative;
}
.bgimages img {
    position: absolute; top: 0;
}
/*New style */
.fx_top {
    min-height: 500px;
    background: #122b40;
}
.fxc_top {
     min-height: 500px;
     background: #2e6da4;
 }
.sc-c2 {
    background-attachment: fixed;
    background-color: #ebebeb;
    background-image: url("../images/das.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 468px;
}
.content-section-b {
    background-image: url("../images/123_03.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 891px;
    width: 100%;
}
.content-section-2b {
    background-image: url("../images/back2.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 891px;
    width: 100%;
}
.pad_block{
    padding-top: 50px;
}
.content-section-c {
    background-image: url("../images/back3.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 995px;
}
.vbg {
    top: 0;
}
.intro-header {
    min-height: 500px;
    background-image: url("../images/back1.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.txt_header-cs {
    color: #004B76;
    font-family: "booksb";
    font-size: 5.7vw;
}
.baker_main-section {
    margin-top: -20px;;
}
.baker-devider-2 {
    margin-top: 230px;
}
.devider-22 {
    min-height: 310px;
    background: url("../images/prefix_09.png");
    background-size: cover;
    background-position: center top ;
    background-repeat: no-repeat;
    display: block;
}

.baker_lead-section {
    padding-top: 230px; ;
}
.baker_lead-section_2 {
    margin-top: -10px;
    position:relative;
}
.bottomImage {
	position: absolute;
	bottom: 0;
}

/*Intro text*/
.txt_intro {
    font-size: 9.1vh;
    font-family: "booksb";
}
.txt_blue {
    color: #024e79;
}
.txt_white {
    color:#ffffff;
}
.block-radius  {
    min-height: 410px;
    border-radius: 20px 20px 0px 20px;
    -moz-border-radius: 20px 20px 0px 20px;
    -webkit-border-radius: 20px 20px 0px 20px;
    padding: 0;
    background: rgba(253,253,253,1);
    background: -moz-linear-gradient(left, rgba(253,253,253,1) 0%, rgba(159,159,159,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(253,253,253,1)), color-stop(100%, rgba(159,159,159,1)));
    background: -webkit-linear-gradient(left, rgba(253,253,253,1) 0%, rgba(159,159,159,1) 100%);
    background: -o-linear-gradient(left, rgba(253,253,253,1) 0%, rgba(159,159,159,1) 100%);
    background: -ms-linear-gradient(left, rgba(253,253,253,1) 0%, rgba(159,159,159,1) 100%);
    background: linear-gradient(to right, rgba(253,253,253,1) 0%, rgba(159,159,159,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#9f9f9f', GradientType=1 );
}
.container-section-point {
    background: #1a1a1a;
    font-family: "booksb";
}
.bg_img_section {
    background: #444444;
    background-image: url("../images/123_06_02.png");
    min-height: 803px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.transbg {
    background: #444444;
    background-image: url("../images/123_06_012_04.png");
    min-height: 802px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}
.cbn_bg {
    background-image: url("../images/123_06_012_05.png");
    background-color: rgba(11, 8, 9, 0.7);
    background: rgba(11, 8, 9, 0.7);
    color: rgba(11, 8, 9, 0.7);
}
.hd_txt_o {
    color: #ffffff;
    font-size: 26px;
}
.top_hed {
    min-height: 100px;
    border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    width: 100%;
}
.txt_header {
    font-size: 4.2vw;
    color: #9fd5f2;
    font-family: "booksb";
}

.txt_header-c {
    font-size: 4.2vw;
    color: #9fd5f2;
    font-family: "booksb";

}
.txt_header-c1 {
    font-size: 20px;
    color: #9fd5f2;
    font-family: "booksb";

}
.txt_header_w {
    font-size:4.0vw;
    color: #ffffff;
    font-family: "booksb";
}
.txt_header_ws {
    font-size: 7.1vh;
    color: #ffffff;
    font-family: "booksb";
}
.p_style {
    color: #ffffff;
    font-family: calibri;
    font-size: 2.3vh;
}
.txt_cs_white {
    color: #ffffff;
}
.chcpasn {
    margin-top: 20px;
    padding-left: 30px;
}
.chcpasns {
    margin-top: 20px;
    padding-left: 10px;
}
.bg-img img{
    display: inline-block;
    margin-left: 20px;
    padding-bottom: 33px;
    padding-right: 5px;

}
.minhe {
    height: 90px;
    margin-top: 20px;
    padding-left: 50px;
}
.bg-txt {
    display: inline-block;
}
.devide {
    padding: 10px;
}
.top_bg_blue {
     background: rgba(38,50,108,1);
     background: -moz-linear-gradient(left, rgba(38,50,108,1) 0%, rgba(45,88,155,1) 100%);
     background: -webkit-gradient(left top, right top, color-stop(0%, rgba(38,50,108,1)), color-stop(100%, rgba(45,88,155,1)));
     background: -webkit-linear-gradient(left, rgba(38,50,108,1) 0%, rgba(45,88,155,1) 100%);
     background: -o-linear-gradient(left, rgba(38,50,108,1) 0%, rgba(45,88,155,1) 100%);
     background: -ms-linear-gradient(left, rgba(38,50,108,1) 0%, rgba(45,88,155,1) 100%);
     background: linear-gradient(to right, rgba(38,50,108,1) 0%, rgba(45,88,155,1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26326c', endColorstr='#2d589b', GradientType=1 );
    color: #ffffff;
 }
.top_bg_green {
    background: rgba(25,76,22,1);
    background: -moz-linear-gradient(left, rgba(25,76,22,1) 0%, rgba(56,126,37,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(25,76,22,1)), color-stop(100%, rgba(56,126,37,1)));
    background: -webkit-linear-gradient(left, rgba(25,76,22,1) 0%, rgba(56,126,37,1) 100%);
    background: -o-linear-gradient(left, rgba(25,76,22,1) 0%, rgba(56,126,37,1) 100%);
    background: -ms-linear-gradient(left, rgba(25,76,22,1) 0%, rgba(56,126,37,1) 100%);
    background: linear-gradient(to right, rgba(25,76,22,1) 0%, rgba(56,126,37,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#194c16', endColorstr='#387e25', GradientType=1 );
    color: #ffffff;
}

.top_bg_red{
    background: rgba(113,56,39,1);
    background: -moz-linear-gradient(left, rgba(113,56,39,1) 0%, rgba(155,48,45,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(113,56,39,1)), color-stop(100%, rgba(155,48,45,1)));
    background: -webkit-linear-gradient(left, rgba(113,56,39,1) 0%, rgba(155,48,45,1) 100%);
    background: -o-linear-gradient(left, rgba(113,56,39,1) 0%, rgba(155,48,45,1) 100%);
    background: -ms-linear-gradient(left, rgba(113,56,39,1) 0%, rgba(155,48,45,1) 100%);
    background: linear-gradient(to right, rgba(113,56,39,1) 0%, rgba(155,48,45,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#713827', endColorstr='#9b302d', GradientType=1 );
    color: #ffffff;
}
.top_bg_cn {
    background: rgba(109,99,76,1);
    background: -moz-linear-gradient(left, rgba(109,99,76,1) 0%, rgba(155,138,102,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(109,99,76,1)), color-stop(100%, rgba(155,138,102,1)));
    background: -webkit-linear-gradient(left, rgba(109,99,76,1) 0%, rgba(155,138,102,1) 100%);
    background: -o-linear-gradient(left, rgba(109,99,76,1) 0%, rgba(155,138,102,1) 100%);
    background: -ms-linear-gradient(left, rgba(109,99,76,1) 0%, rgba(155,138,102,1) 100%);
    background: linear-gradient(to right, rgba(109,99,76,1) 0%, rgba(155,138,102,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d634c', endColorstr='#9b8a66', GradientType=1 );
    color: #ffffff;
}
.cnc_space {
    padding-bottom: 10px;
}
.csspaer {
    margin-top: 430px;
}
.txt_header_1 {
    background-color: rgba(0, 191, 255, 0.2);
    background: rgba(0, 191, 255, 0.2);
    color: rgba(0, 191, 255, 0.2);
}
.txt_head {
    font-size: 3.5vh;
    font-family: booksb;
    color: #ffffff;
}
.bigbold {
    font-size: 7.9vw;
    color: #9fd5f2;
    font-family: "booksb";
}
.bigbold-white {
    font-size: 6.9vw;
    color: #FFFFFF;
    font-family: "booksb";
}
.txt-block {
    color: #5890b7;
    font-family: "booksb";
}
.txt-block-c{
    color: #004c77;
    font-family: "booksb";
}
.txt-block-d{
    color: #333333;
    font-family: "booksb";
}
.bg_imgr {
    background: url("../images/br_total.png");
    background-position: center center;

}
.see {
   min-height: 500px;
}
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
.section-nine {
    min-height: 4448px;
    background: url("../images/cbsback_02.png");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    height: 100%
}
.section-top {
    min-height: 1021px;
    background: url("../images/123_02.png");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    position: relative;
    width: 100%
}
.section-section-top {

    width: 100%;
    margin: 0px auto;
}
.secop-1 {
    min-height: 600px;
    position: relative;
}
.setps {
    position: absolute;
    display: block;
    width: 80%;
    top: 50%;
}
.secop {
    margin-top: 20%;
    margin-bottom: 20%;
    min-height: 600px;
}
.sec-top {
    top: 65vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* main-section*/
.main-section {
    min-height: 795px;
    background: url("../images/123_03.png");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    top: 20%;
    width: 100%;
}
.bott_space {
    margin-bottom: 25px;
}
.clear{
    clear:both;
}
.devider-6 {
    min-height: 631px;
    background: url("../images/devider-6_02.png");
    background-size: cover;
    background-position: center top ;
    background-repeat: no-repeat;
    display: block;
    margin-bottom: 0;
}
.devider-7 {
    min-height: 631px;
    background: url("../images/devider-7_02.png");
    background-size: cover;
    background-position: center top ;
    background-repeat: no-repeat;
    display: block;
    margin-bottom: 0;
}
.devider-8 {
    min-height: 599px;
    background: url("../images/devider-8_02.png");
    background-size: cover;
    background-position: center top ;
    background-repeat: no-repeat;
    display: block;
    margin-bottom: 0;
}
.devider-9 {
    min-height: 499px;
    background: url("../images/devider-7_02.png");
    background-size: cover;
    background-position: center top ;
    background-repeat: no-repeat;
    display: block;
    margin-bottom: 0;
}
.devider-3 {
    min-height: 349px;
    background: url("../images/devider-1.png");
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    display: block;
}
.devider-3a {
    min-height: 231px;
    background: url("../images/devider-2.png");
    background-size: cover;
    background-position: center bottom ;
    background-repeat: no-repeat;
    display: block;
}
.devider-4a {
    min-height: 610px;
    background: url("../images/devider-4.png");
    background-size: cover;
    background-position: center top ;
    background-repeat: no-repeat;

}
.devider-4 {
    background: #707070;
    min-height: 543px;
    background: url("../images/devider-6.png");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}
.minhgs {
    height: 250px;
}
@media screen and (max-width: 990px){
    .lead-section {
        height: 1200px;
        background: url("../images/topstyle_03.png");
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        width: 100%;
    }
}
@media screen and (min-width: 991px){
    .lead-section {
        background: #707070;
        height: 1059px;
        background: url("../images/topstyle_03.png");
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        width: 100%;
    }
}

.v-space {
    margin-bottom: 40px;
}
.section-one {
    background: #4D4D4D;
    min-height: 404px;
}
.section-two {
    background: #707070;
    min-height: 1084px;
    background: url("../images/devider-3.png");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
.section-three {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1a1a1a+0,1f1f1f+100 */
    background: #1a1a1a; /* Old browsers */
    background: -moz-linear-gradient(top,  #1a1a1a 0%, #1f1f1f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #1a1a1a 0%,#1f1f1f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #1a1a1a 0%,#1f1f1f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1a1a', endColorstr='#1f1f1f',GradientType=0 ); /* IE6-9 */

    min-height: 563px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
.section-four {
    background: #222222;
    min-height: 397px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;

}
.section-four-block {
    position: absolute;
    height: 360px;
}
.section-five {
    min-height: 1731px;
    background: #707070;
    background: url("../images/big_02.png");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
.spaceme {
    padding-top: 30%;
}
.topspace {
    margin-top: 30px;
}
.topspaces {
    margin-top: 6%;
}
.alingh {
    margin-top: -9px;
    font-size: 18px;
    margin-left: 29%;
    z-index: -1;
}

.section-six {
    min-height: 703px;
    background: rgba(49,49,49,1);
    background: -moz-linear-gradient(top, rgba(49,49,49,1) 0%, rgba(49,49,49,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(49,49,49,1)), color-stop(100%, rgba(49,49,49,1)));
    background: -webkit-linear-gradient(top, rgba(49,49,49,1) 0%, rgba(49,49,49,1) 100%);
    background: -o-linear-gradient(top, rgba(49,49,49,1) 0%, rgba(49,49,49,1) 100%);
    background: -ms-linear-gradient(top, rgba(49,49,49,1) 0%, rgba(49,49,49,1) 100%);
    background: linear-gradient(to bottom, rgba(49,49,49,1) 0%, rgba(49,49,49,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313131', endColorstr='#313131', GradientType=0 );
}
.spacetop {
    margin-top: 25%;
}

.section-c4 {
    background: #dddddd;
}

.content-section-a {
    position: absolute;
}
.section-seven {
    min-height: 803px;
    background: #000000;
    background: url("../images/bg_02.png");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}
.pb_blue {
    color: #6B838F;
    font-weight: bold;

}
.btnimg{
    display: inline-block;
    margin: 5px;
}
.spacebotom {
    margin-bottom: 90px;
    min-height: 803px;
}

.spacebot {
    margin-bottom: 30px;
}
.section-eight {
    min-height: 505px;
    background: #000000;
    background: url("../images/slices_02.png");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
.section-ten {

    min-height: 700px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+0,393939+100 */
    background: #333333; /* Old browsers */
    background: -moz-linear-gradient(top,  #333333 0%, #393939 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #333333 0%,#393939 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #333333 0%,#393939 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#393939',GradientType=0 ); /* IE6-9 */

}
.next {
    border: 1px solid #fff;
    /*position: relative;*/
    /*transform: rotate(45deg);*/
    /*transition: all 0.5s ease 0s;*/
    /*width:410px;*/

}
.bgimages{
    background: url("../images/bgbg_06.png");
    background-repeat: no-repeat;
    margin-bottom: 30px;
    height: 450px;
}
.hbgsstyle {
    width: 300px;
    margin-right: 17%;
    padding-top: 15px;
}
.divblock {
    height: 180px;
    weight:180px;;
    background: red;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    margin: 5px;
    display: block;
}

.test {
    width: 200px;
    height: 200px;
    background: red;


    transform: rotate(68deg) ;
    -webkit-transform: rotate(68deg) ;
    -moz-transform: rotate(68deg) ;
    -o-transform: rotate(68deg) ;
    -ms-transform: rotate(68deg) ;
}
 .txt-style {
     -webkit-text-stroke: 1.0px #5890b7;
     -webkit-text-fill-color: #FFFFFF;
     font-family: "booksb";
 }
 .txt-style-2 {
     color: #9FD5F2;
 }

/* --Form Style--*/

form {
    margin: auto;
    position: relative;
    width: 550px;
    height: 400px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
    font-weight: bold;
    color: #514a4a;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
}

.innershadow {
     -moz-box-shadow: inset 0 0 5px 5px #c5c5c5;
     -webkit-box-shadow: inset 0 0 5px 5px #c5c5c5;
     box-shadow: inset 0 0 5px 5px #c5c5c5;
     border: 1px solid #767574;
 }
.innershadow:focus {
    -moz-box-shadow: inset 0 0 4px 4px #c5c5c5;
    -webkit-box-shadow: inset 0 0 4px 4px #c5c5c5;
    box-shadow: inset 0 0 4px 4px #c5c5c5;
    border: 1px solid #767574;
}
.innershadow-1 {
    background: #4d4d4d;
    color: #FFFFFF;
    -moz-box-shadow: inset 0 0 6px 6px #434242;
    -webkit-box-shadow: inset 0 0 6px 6px #434242;
    box-shadow: inset 0 0 6px 6px #434242;
    border: 1px solid #262626;
}
.innershadow-1:focus {
    -moz-box-shadow: inset 0 0 6px 6px #434242;
    -webkit-box-shadow: inset 0 0 6px 6px #434242;
    box-shadow: inset 0 0 6px 6px #434242;
    border: 1px solid #262626;
}

.nospace {
    margin: 0px;
    padding: 0px;
}
.dropdown-toggle:focus {
    outline: 0;
}
.whitecolor {
    color: #FFFFFF;
}
.astyle {
    font-size: 14px;
}
.imglines {
    margin: 0px auto;
    display: block;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 16px;
    text-align: left;
    background: rgba(0,104,166,1);
    background: -moz-linear-gradient(-45deg, rgba(0,104,166,1) 0%, rgba(0,75,119,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,104,166,1)), color-stop(100%, rgba(0,75,119,1)));
    background: -webkit-linear-gradient(-45deg, rgba(0,104,166,1) 0%, rgba(0,75,119,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(0,104,166,1) 0%, rgba(0,75,119,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(0,104,166,1) 0%, rgba(0,75,119,1) 100%);
    background: linear-gradient(135deg, rgba(0,104,166,1) 0%, rgba(0,75,119,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0068a6', endColorstr='#004b77', GradientType=1 );
    border-radius: 15px;
    -webkit-box-shadow: 0px 8px 3px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 8px 3px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 8px 3px 2px rgba(0,0,0,0.75);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.dropdown-menu > li > a {
    display: block;
    background: transparent;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #ffffff;
    white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #ffffff;

}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #337ab7;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    color: #777777;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    cursor: not-allowed;
}
.open > .dropdown-menu {
    display: block;
}
.open > a {
    outline: 0;
}
.dropdown-menu-right {
    left: auto;
    right: 0;
}
.dropdown-menu-left {
    left: 0;
    right: auto;
}
.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #777777;
    white-space: nowrap;
}
.dropdown-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 990;
}
.pull-right > .dropdown-menu {
    right: 0;
    left: auto;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    content: "";
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
}
@media (min-width: 768px) {
    .navbar-right .dropdown-menu {
        left: auto;
        right: 0;
    }
    .navbar-right .dropdown-menu-left {
        left: 0;
        right: auto;
    }
}
.overeffect:hover {
    text-shadow: 0px 0px 15px rgba(150, 150, 150, 1);
}

.new-content {
    background: #5b5b5b;
}
.new-style-header {
    background: #0a517a;
    height: 20px;
    border-bottom:0px;
}
.new-close {
    bottom: 10px;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    border: 1px solid;
}
.label-color {
    color: #7fbcf3;
}
.bootmslide {

    position: absolute;
    margin: 0px auto;
    bottom: 1px;
    border: 1px solid red;
}
.cbblue {
    color: #9FD5F2;
}
.cbsize {
    font-size: 22px;
}
.padblue {
    padding: 30px;
}
/* Buttons*/
.blockimg{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}
.bgone {
    background: #333333;
}

.spanblock {
    display: inline-block;
}
.btn-img-block-sh {
    background: url("../images/search_btn_03.png");
    background-repeat: no-repeat;
    width: 230px;
    height: 80px;
}
.btn-img-block {
    background: url("../images/button-1_03.png");
    background-repeat: no-repeat;
    width: 230px;
    height: 80px;
}
.btn-img-block-1 {
    background: url("../images/btn_07.png");
    background-repeat: no-repeat;
    width: 230px;
    height: 80px;
}
.btn-img-block-fb {
    background: url("../images/bluebtn_12.png");
    background-repeat: no-repeat;
    width: 156px;
    height: 80px;
}
.btn-img-block-back {
    background: url("../images/btn_03.png");
    background-repeat: no-repeat;
    width: 81px;
    height:29px;
}
.btn-img-block-fwd {
    background: url("../images/btn_04.png");
    background-repeat: no-repeat;
    width: 81px;
    height:29px;
}
.btn-img-block-up {
    background: url("../images/fileupload_03.png");
    background-repeat: no-repeat;
    width: 189px;
    height:29px;
}
.btn-img-block-tw {
    background: url("../images/bluebtn_14.png");
    background-repeat: no-repeat;
    width: 156px;
    height: 80px;
}
.btn-img-block-te {
    background: url("../images/bluebtn_16.png");
    background-repeat: no-repeat;
    width: 156px;
    height: 80px;
}
.blocktxt {
    font-family: "booksb";
}
.space-ds {
    margin-bottom: 10%;
}
.break  {
    width: 140px;
    margin-left: 65px;
    text-align: left;
    color: black;
    font-family: "booksb";
}
.break-osc-1  {
    width: 81px;
    margin-left: 18px;
    text-align: left;
    color: black;
    font-family: "booksb";
    margin-top: 1px;
}
.break-osc-2  {
    width: 81px;
    margin-left: -2px;
    text-align: left;
    color: black;
    font-family: "booksb";
    margin-top: 1px;
}
.break-osc-1:hover {
    text-shadow: -1px -1px 4px rgba(150, 150, 150, 1);
    width: 81px;
    margin-left: 18px;
    text-align: left;
    color: black;
    font-family: "booksb";
}
.break-osc  {
    width: 140px;
    margin-left: 41px;
    text-align: left;
    color: black;
    font-family: "booksb";
}
.break-osc:hover {
    text-shadow: -1px -1px 4px rgba(150, 150, 150, 1);
    width: 140px;
    margin-left: 41px;
    text-align: left;
    color: black;
    font-family: "booksb";
}
.textef {
    font-family: "booksb";
    color: #FFFFFF;
}
.textdf {
    color: #698B9B;
    font-family: "booksb";
}
.break:hover {
    width: 140px;
    margin-left: 65px;
    text-align: left;
    color: black;
    font-family: "booksb";
}
.upimage {
    padding-top: 150px;
}
.cbs {
    position: absolute;
}
.new-close-bg-1 {
    position: relative;
    margin-left: 200px;

}
.verblock img{
  margin-top: 8%;
    margin-left: 30%;
}
.new-close-bg{
    position: absolute;
}
.nav-justified {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.nav-justified > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
    font-weight: bold;
    color: #777;
    text-align: center;
    background-color: #e5e5e5; /* Old browsers */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
    background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
    background-image:         linear-gradient(to bottom, #f5f5f5 0%,#e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    background-repeat: repeat-x; /* Repeat the gradient */
    border-bottom: 1px solid #d5d5d5;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
    background-color: #ddd;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
    border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
    border-bottom: 0;
    border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
    .nav-justified {
        max-height: 52px;
    }
    .nav-justified > li > a {
        border-right: 1px solid #d5d5d5;
        border-left: 1px solid #fff;
    }
    .nav-justified > li:first-child > a {
        border-left: 0;
        border-radius: 5px 0 0 5px;
    }
    .nav-justified > li:last-child > a {
        border-right: 0;
        border-radius: 0 5px 5px 0;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .masthead,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
}

/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF FOUR  */
.span_4_of_4 {
    width: 100%;
}
.span_3_of_4 {
    width: 74.6%;
}
.span_2_of_4 {
    width: 49.2%;
}
.span_1_of_4 {
    width: 23.8%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
    .col {  margin: 1% 0 1% 0%; }
    .span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}



/*Popup style */
.txtstyle-c3 {
    color: #A1D8F6;
}
.txtstyle-c33 {
    color: #5890b7;
}
.modal-head {
    padding: 5px;
    background: rgba(7,78,119,1);
    background: -moz-linear-gradient(left, rgba(7,78,119,1) 0%, rgba(85,138,176,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(7,78,119,1)), color-stop(100%, rgba(85,138,176,1)));
    background: -webkit-linear-gradient(left, rgba(7,78,119,1) 0%, rgba(85,138,176,1) 100%);
    background: -o-linear-gradient(left, rgba(7,78,119,1) 0%, rgba(85,138,176,1) 100%);
    background: -ms-linear-gradient(left, rgba(7,78,119,1) 0%, rgba(85,138,176,1) 100%);
    background: linear-gradient(to right, rgba(7,78,119,1) 0%, rgba(85,138,176,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#074e77', endColorstr='#558ab0', GradientType=1 );
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
}

#squarespaceModa12 .modal-dialog
{
    width: 83%;
}
#squarespaceModa22 .modal-dialog
{
    width: 83%;
}

.section-c234 {
    height: 450px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

form header {
    margin: 0 0 20px 0;
}
form header div {
    font-size: 90%;
    color: #999;
}
form header h2 {
    margin: 0 0 5px 0;
}
form > div {
    clear: both;
    overflow: hidden;
    padding: 1px;
    margin: 0 0 10px 0;
}
form > div > fieldset > div > div {
    margin: 0 0 5px 0;
}
form > div > label,
legend {
    width: 25%;
    float: left;
    padding-right: 10px;
}
form > div > div,
form > div > fieldset > div {
    width: 75%;
    float: right;
}
form > div > fieldset label {
    font-size: 90%;
}
fieldset {
    border: 0;
    padding: 0;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
    width: 70%;
}
input[type=text],
input[type=email],
input[type=url],
input[type=password] {
    width: 80%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
    outline: 0;
    border-color: #4697e4;
}

@media (max-width: 600px) {
    form > div {
        margin: 0 0 15px 0;
    }
    form > div > label,
    legend {
        width: 100%;
        float: none;
        margin: 0 0 5px 0;
    }
    form > div > div,
    form > div > fieldset > div {
        width: 100%;
        float: none;
    }
    input[type=text],
    input[type=email],
    input[type=url],
    input[type=password],
    textarea,
    select {
        width:70%;
    }
}
@media (min-width: 1200px) {
    form > div > label,
    legend {
        text-align: right;
    }
}


@media (max-width: 772px) {
    .navbar-inverse .navbar-nav > li > a:visited a:active {
        text-decoration: underline;
        background: #000000;
    }
    .navbar-inverse .navbar-nav > li > a:hover {
        text-decoration: underline;
        background: #000000;
    }
    .navbar-inverse .navbar-nav > li > a {
        color: #FFFFFF;
        background: #000;
    }
    .navbar-inverse .navbar-nav > li > a:hover {
        color: #FFFFFF;
        background: #000;
    }
}
.bstop {
    top: 100vw;
    border:2px solid yellow;
    position: relative;
}
.bscpcor {
    position: relative;
    border: 2px solid green;
    top: 85vw;
}
.bsins {
    position: relative;
    border: 2px solid red;
    top: 135vw;
}

@media screen and (max-width: 500px) {
    .bsins {
        position: relative;
        border: 2px solid red;
        top: 490vw;
    }
    .bscpcor {
        position: relative;
        border: 2px solid green;
        top: 300vw;
    }
    .bstop {
        top: 290vw;
        border:2px solid yellow;
        position: relative;
    }
    .section-nine {
        min-height: 4448px;
        background: url("../images/cbsback_02.png");
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        position: relative;
        height: 100%
    }
}

@media screen and (max-width: 1200px) {
    .bsins {
        position: relative;
        border: 2px solid red;
        top: 790vw;
    }
    .bscpcor {
        position: relative;
        border: 2px solid green;
        top: 300vw;
    }
    .bstop {
        top: 290vw;
        border:2px solid yellow;
        position: relative;
    }
    .section-nine {
        min-height: 4448px;
        background: url("../images/cbsback_02.png");
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        position: relative;
        height: 100%
    }
}
@media only screen and (min-width: 1201px) and (max-width: 1920px) {
    .bsins {
        position: relative;
        border: 2px solid red;
         bottom: 0vw;
        padding-top: 40vw;
    }
    .bscpcor {
        position: relative;
        border: 2px solid green;
        top: 100vw;
    }
    .bstop {
        top: 100vw;
        border:2px solid yellow;
        position: relative;
    }
    .section-nine {
        min-height: 6448px;
        background: url("../images/cbsback_02.png");
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        position: relative;
        height: 100%
    }
}
.newbg {
    background: #3C3C3D;
    height: auto;
    padding: 5px;
}
.section-c22 {
    background: url("../images/gms-image.png");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    height:1200px;

}
.flex-center-vertically-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 1200px;
    padding-top: 5px;
}
.section-le {
    height: 300px;
    background: #ffffff;
    width: 100%;
    padding: 0;
    margin: 0;
}

.section-le {
    height: 300px;
    background: #ffffff;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}
