/* Font */
@font-face{
    font-family: "Calibri";
    src: url('../fonts/BOOKOSB.TTF'),
    url('../fonts/Calibri Bold.ttf'); /* IE */
}
/*Custom webpage styles*/
.br {
	 border: 10px solid ;
	 border-width: 0 0 10px 0;
	 border-image: url(../images/hr-menu-line.png) 0 0 10 0 repeat;
}
.brs {
    border: 1px solid;
}
body {
	margin-top: 60px;
    background: #c0c0c0;
}
.wraper {
    width: 100%;
    background: red;
    padding-bottom: 10px;
}
.cbs-top {
	min-height: 600px;
	background-color: #c4c4c4;
	margin: 0;
    background: url("../images/das.jpg");
    position: relative;
    background-attachment: fixed;
    background-size: cover;

}

.cb-top {
    min-height: 400px;
    background-color: #c4c4c4;
    margin: 0;
    position: relative;
    background-size: cover;
}
.imgkk {
	bottom: 0;
	left:0;
}
.bg {
	background-image: url('../images/hr-menu-line.png');
	height: 5px;
}
.bootsy {
	border-width: 0 0 10px 0;
	border-image: url('../images/hr-menu-line.png') 25 30 10 20 repeat stretch;
}
.example-three {
	border-style: double;
	border-width: 5px  5px;
	border-image: url('../images/hr-menu-line.png') 25 30 10 20 stretch;

}
.nav-tabs > li, .nav-pills > li {
	float:none;
	display:inline-block;
	*display:inline; /* ie7 fix */
	zoom:1; /* hasLayout ie7 trigger */
}

.bottomImage { position: absolute; bottom: 0; }


/* Baklava*/
.jumbotron-link::before {
    background-image: url('../images/buttom.png');
    background-repeat: no-repeat;
	bottom: 0;
	content: "";
	display: inline-block;
	left: 0;
	border-radius: 20px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
}

.jumbotron-link {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-family: "Merriweather",serif;
	font-size: 14px;
	font-weight: 700;
	height: 100px;
	justify-content: flex-end;
	padding-bottom: 12px;
	position: relative;
	transition: all 250ms ease 0s;
	width: 100px;
}
.jumbotron-link {
	font-size: 18px;
	font-weight: 700;
	height: 110px;
	padding-bottom: 0;
	width: 110px;
}
.jumbotron-link {
	font-size: 18px;
}
.but-link {
    top: -46px;
    position: relative;
}
.bgimages img {
    position: absolute; top: 0;
}
/*New style */
.fx_top {
    min-height: 500px;
    background: #122b40;
}
.fxc_top {
     min-height: 500px;
     background: #2e6da4;
 }
.sc-c2 {
    background-attachment: fixed;
    background-color: #ebebeb;
    background-image: url("../images/das.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 468px;
}
.content-section-b {
    background-image: url("../images/back2.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 891px;
    width: 100%;
}
.pad_block{
    padding-top: 50px;
}
.content-section-c {
    background-image: url("../images/back3.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 995px;
}
.vbg {
    top: 0;
}
.intro-header {
    min-height: 500px;
    background-image: url("../images/back1.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
}
.block-image {
    top: -46px;

}
.bottomImage {
	position: absolute;
	bottom: 0;
}

/*Intro text*/
.txt_intro {
    font-size: 9.1vh;
    font-family: "Calibri";
}
.txt_blue {
    color: #024e79;
}
.txt_white {
    color:#ffffff;
}
.block-radius  {
    min-height: 200px;
    border-radius: 20px 20px 0px 20px;
    -moz-border-radius: 20px 20px 0px 20px;
    -webkit-border-radius: 20px 20px 0px 20px;
    border: 1px solid #000000;
    padding: 0;
}
.top_hed {
    min-height: 100px;
    border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    border: 1px solid #000000;
    width: 100%;
}